.card {
  background: #fff;
  display: flex;
  border-radius: 10px;
  width: 600px;
  height: 450px;
  overflow: hidden;

  @include media("mobile") {
    display: block;
    width: 343px;
    height: fit-content;
  }

  &-img {
    width: 300px;
    height: 450px;
    object-fit: contain;

    @include media("mobile") {
      width: 100%;
      height: auto;
    }
  }

  &-content {
    padding: 32px;

    @include media("mobile") {
      padding: 24px;
    }

    &-subtitle {
      @include subtitle(12px, 5px);
    }

    &-title {
      @include heading($dark);
      margin: 20px 0 24px;

      @include media("mobile") {
        margin: 12px 0 12px;
      }
    }

    &-desc {
      @include paragraf;
    }

    &-price {
      display: flex;
      align-items: center;
      gap: 19px;
      margin: 29px 0 30px;

      @include media("mobile") {
        margin: 24px 0 20px;
      }

      .discount {
        @include heading($bg-primary);
      }

      .normal {
        @include subtitle(13px, 0);
      }
    }

    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 11px;
      background: $bg-primary;
      width: 100%;
      padding-top: 15px;
      padding-bottom: 15px;
      margin: 0;
      border: none;
      border-radius: 8px;
      cursor: pointer;

      &:hover {
        background: #1a4032;
      }

      &-icon {
        width: 14px;
        height: 16px;
      }

      &-text {
        font-family: $font-secondary;
        font-size: 14px;
        font-weight: 700;
        color: $white;
      }
    }
  }
}
